.sidebar-con {
    background: #34495e;
    height: 100vh;
    width: 30%;
    position: absolute;
}

.profile {
    height: 30%;
    width: 100%;
    position: absolute;
}

.chats {
    height: 70%;
    width: 100%;
    position: absolute;
}